<!DOCTYPE html>
<html data-ng-app="myApp">
	<head>
		<title>My first app</title>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-route.min.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		<div ng-view style="border: 1px solid cyan"></div>
		<div data-ng-controller="Main">
			<input type="text" data-ng-model="Vorname">
			<input type="text" data-ng-model="Nachname">
			<button data-ng-click="add(Vorname, Nachname)">Add</button>
			<table>
				<tr data-ng-repeat="person in Persons">
					<td><input type="text" data-ng-model="person.Vorname" data-ng-change="changed(person)"></td>
					<td>{{person.Nachname}}</td>
					<td><button data-ng-click="remove(person)">X</button></td>
				</tr>
			</table>
			<p>{{ErrorMessage}}</p>
			<p>Number of Persons: {{Persons.length}}</p>
			<button data-ng-click="showPersons()">show all persons</button>
		</div>
	</body>
</html>